__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info
*.eg
ckpt
*.ckpt
*.pth

*.ipynb
*.bin

flagged/
wandb
tiny_*
lora-*
results

# Ignore for lm-evaluation-harness
env
lm_cache
.idea
*.egg-info

# Added for Merilion project
*.safetensors
*.tsv
*.jsonl
*.csv
*.xlsx
*.pdf
*.zip
*.tar.gz
*.out

# Exclude large models but allow logs
MERaLiON-2-*
SmolVLM-500M-*
meralion_checkpoints/
audiobench/
audiobench_log_for_all_models/
llava_60images/
meralion2_bl/
meralion2_bl_infer/
NIRVANA/
playground/data/
output/
=0.0.4
=0.24.1
pruned_channels.txt
zh_seed_tasks.json
datasets/

# Specifically ALLOWING these for remote review
!*.sh
!*.log
!scripts/*.sh